// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login{
    display: inline-block;
    form{
       display: inline-block
    }
}

#signup{
    display: inline-block;
    form{
       display: inline-block
    }
}
body{
    padding:0px;
    margin: 0px;
    
}